.themecontainer {
  position: fixed;
  top: var(--size-4);
  right: var(--size-4);
}

.container {
  padding-inline: var(--size-5);
  max-width: 1280px;
}

.splitgrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--size-3) var(--size-10);
}

.infocontainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--size-3);
  padding-top: var(--size-5);
}

.iconbar {
  width: 100%;
  margin-top: auto;
}

.resumebar {
  text-align: center;
  width: 100%;
  margin-top: var(--size-2);
}

.content {
  padding-block: var(--size-5);
}

@media only screen and (min-width: 1024px) {
  .container {
    padding-inline: var(--size-5);
    margin-left: auto;
    margin-right: auto;
  }

  .infocontainer {
    position: sticky;
    top: 0;
    height: 100vh;
    padding-block: var(--size-9);
  }

  .splitgrid {
    grid-template-columns: 1fr 1fr;
  }

  .resumebar {
    text-align: left;
    width: auto;
  }

  .content {
    padding-block: var(--size-9);
  }
}

@media only screen and (min-width: 1280px) {
  .container {
    padding-inline: var(--size-9);
  }
}
