.aboutmd {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: var(--about-section-color);
  font-size: var(--font-size-1);
  margin-bottom: var(--size-3);
  max-inline-size: fit-content;
  margin-bottom: 0;
}

.aboutmd p {
  font-size: var(--font-size-1);
}
