.iconlink {
  color: var(--actions-icon-color);
  transition: color 150ms ease;
}

.iconlink:not(.iconselected):hover {
  color: var(--actions-icon-hover-color);
}

.iconselected {
  color: var(--actions-icon-selected-color);
}
