.name {
  font-size: var(--font-size-5);
  font-weight: var(--font-weight-6);
  letter-spacing: var(--font-letterspacing-1);
  color: var(--info-name-color);
  margin-bottom: var(--size-1);
}

.tagline {
  color: var(--info-title-color);
  font-size: var(--font-size-1);
  margin-bottom: var(--size-2);
}

.company {
  color: var(--info-company-color);
  font-size: var(--font-size-1);
  font-weight: var(--font-weight-5);
}
