.skillsection {
  display: flex;
  align-items: flex-start;
}

.skillsection > span {
  font-size: 0.875rem;
  font-weight: 600;
  padding-top: 2px;
  padding-right: 1rem;
}

.skillslist {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.skillslist > li {
  margin: 0;
  padding: 3px 8px;
  font-size: 0.75rem;
  font-weight: 500;
  background-color: #eeeeec;
  border: 1px solid #b5b3ad;
  color: #31312e;
  border-radius: 5px;
  justify-self: center;
}
